<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shopify Application{% endblock %}</title>
    <link href="/static/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="header">
    <h1><a href="{% url "root_path" %}">Shopify Demo Application</a></h1>
    <p id="login-link">
        {% if current_shop %}
            <span class="note">current shop</span>
            <a href="https://{{ current_shop.domain }}" class="shop_name">{{ current_shop.domain }}</a>
            <span class="note">|</span>
            <a href="{% url "shopify_app_logout" %}">logout</a>
        {% endif %}
    </p>
</div>
<div id="container" class="clearfix">
    <!-- Flash error & notice-->
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} {{ message.tags }}-message"{% endif %}
            >{{ message }}</div>
        {% endfor %}
    {% endif %}
    <!-- begin div.main-->
    <div id="main">
        <h1>Install</h1>

        <p>Install this app in a shop to get access to its private admin data.</p>

        <p style="padding-bottom: 1em"><span class="hint">Don&rsquo;t have a shop to install your app in handy? <a
                href="https://app.shopify.com/services/partners/api_clients/test_shops">Create a test shop.</a></span>
        </p>

        <form action="{% url "shopify_app_authenticate" %}" method="post">{% csrf_token %}
            <label for='shop'><strong>The URL of the Shop</strong>
                <span class="hint">(or just the subdomain if it&rsquo;s at myshopify.com)</span>
            </label>
            <p>
                <input id="shop" name="shop" size="45" type="text"/>
                <input name="commit" type="submit" value="Install"/>
            </p>
        </form>
    </div>
    <!-- end div.main -->
</div>
</body>
</html>
