<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extrusionHeight</key>
	<real>0.4</real>
	<key>objects</key>
	<array>
		<dict>
			<key>mask</key>
			<string>pear.png</string>
			<key>transform</key>
			<dict>
				<key>translateX</key>
				<real>-17.5</real>
				<key>translateY</key>
				<integer>-28</integer>
				<key>translateZ</key>
				<string>1</string>
				<key>scaleX</key>
				<real>0.14</real>
				<key>scaleY</key>
				<real>0.14</real>
				<key>scaleZ</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
	<key>imageSize</key>
	<integer>400</integer>
</dict>
</plist>
