<div class="page-width" style="max-width: 800px">
   <div class="grid grid--uniform grid--view-items">
       <div class="grid__item grid__item--collection-template small--one-half medium-up--one-half text-center">
           <a class="btn" href="/pages/wishlist/">Wishlist</a>

           <h4 class="alert" href="/pages/wishlist/">{{ theme.name }}</h4>
       </div>
       <div class="grid__item grid__item--collection-template small--one-half medium-up--one-half text-center">
           <a class="btn" href="/pages/wishlist/">Wishlist</a>
       </div>
   </div>
</div>
