Presentation/Nop.Web/bin/
Presentation/Nop.Web/obj/
Tests/Nop.Web.MVC.Tests/bin/
Tests/Nop.Web.MVC.Tests/obj/
Libraries/Nop.Core/bin/
Libraries/Nop.Core/obj/
Libraries/Nop.Data/bin/
Libraries/Nop.Data/obj/
Tests/Nop.Core.Tests/obj/
Tests/Nop.Core.Tests/bin/
Tests/Nop.Services.Tests/bin/
Tests/Nop.Services.Tests/obj/
Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/
Plugins/Nop.Plugin.ExchangeRate.EcbExchange/bin/
Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/
Plugins/Nop.Plugin.DiscountRules.CustomerRoles/bin/
Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/
Plugins/Nop.Plugin.ExternalAuth.Facebook/bin/
Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/
Plugins/Nop.Plugin.Payments.CheckMoneyOrder/bin/
Plugins/Nop.Plugin.Payments.Manual/obj/
Plugins/Nop.Plugin.Payments.Manual/bin/
Plugins/Nop.Plugin.Payments.PayPalStandard/obj/
Plugins/Nop.Plugin.Payments.PayPalStandard/bin/
Plugins/Nop.Plugin.Payments.Square/obj/
Plugins/Nop.Plugin.Payments.Square/bin/
Plugins/Nop.Plugin.Payments.Worldpay/obj/
Plugins/Nop.Plugin.Payments.Worldpay/bin/
Plugins/Nop.Plugin.Pickup.PickupInStore/obj/
Plugins/Nop.Plugin.Pickup.PickupInStore/bin/
Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/bin/
Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj/
Plugins/Nop.Plugin.Shipping.UPS/bin/
Plugins/Nop.Plugin.Shipping.UPS/obj/
Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/bin/
Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/
Plugins/Nop.Plugin.Widgets.GoogleAnalytics/bin/
Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/
Plugins/Nop.Plugin.Widgets.NivoSlider/bin/
Plugins/Nop.Plugin.Widgets.NivoSlider/obj/
Presentation/Nop.Web.Framework/bin/
Presentation/Nop.Web.Framework/obj/
Libraries/Nop.Services/obj/
Libraries/Nop.Services/bin/
Presentation/Nop.Web/Plugins/bin/
.vs/BoBoMuSu/v15/Server/sqlite3/storage.ide-shm
.vs/BoBoMuSu/v15/Server/sqlite3/storage.ide-wal
Tests/Nop.Tests/obj/
Tests/Nop.Tests/bin/
Presentation/Nop.Web/wwwroot/images/thumbs/
.vs/BoBoMuSu/v15/.suo
Presentation/Nop.Web/Properties/launchSettings.json
.vs/BoBoMuSu/v15/Server/sqlite3/storage.ide
Presentation/Nop.Web/Plugins/
Presentation/Nop.Web/Themes/BoBoMuSuTheme/Content/Prints/
Presentation/Nop.Web/Nop.Web.csproj.user
Presentation/Nop.Web/Themes/BoBoMuSuTheme/Content/ModelTemplates/
Presentation/Nop.Web/Themes/BoBoMuSuTheme/Content/Temps/
Presentation/Nop.Web/Themes/BoBoMuSuTheme/Content/PrintOrders/

